p{
  font-size: 20px;
  text-align: left;
  color: white;
  text-shadow: 4px 4px 4px black;
}
h1{
  text-align: center;
  font-size: 28px;
  font-family: sans-serif;
  color: white;
  text-shadow: 4px 4px 4px black;
}
body {
  background-image: linear-gradient(black, purple);
  background-size: cover;
  height: 100%;
  width:100%;
  background-repeat: no-repeat;
  background-color: purple;
}
.navbar{
  font-size: 30px;
  background-image: linear-gradient( 190deg,#10101000 0%,#A6B29900 0%);
  padding bottom:10px;
}
li{
  text-align:center;
  display: inline;
}
ul{
  text-align:center;

}
a{
  text-decoration: none;
  color: white;
  text-align:right;
  display: inline;
  border-style: solid;
  border-radius: 5px;
}
div.about{
  font-size: 34px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px black;
}
ul.skill{
    text-align: left;
    display: block;
}
li.skill{
    text-align: center;
  }

  label {
    font-family: sans-serif;
    color:White;
    text-shadow: 4px 4px 4px black;
    font-size: 20px;
  }
h2{
    font-size: 30px;
    text-shadow: 4px 4px 4px black;
    color: white;
    text-align: center;
}
@media screen and (max-width: 760px){
}
p.skills{
    font-size: 20px;
}
