p{
  font-size: 34px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px yellow;
}
h1{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  color: white;
  text-shadow: 4px 4px 4px yellow;
}
body {
  background-image: url("projects.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:
}
.navbar{
  font-size: 30px;
  background-image: linear-gradient( 190deg,#10101000 0%,#A6B29900 0%);
  padding bottom:10px;
}
li{
  text-align:center;
  display: inline;
}
ul{
  text-align:center;
  display: inline;
}
a{
  text-decoration: none;
  color: white;
  text-align:center;
  display: inline;
}
p.about{
  color: white;
  text-shadow: 4px 4px 4px yellow;
}
@media screen and (max-width: 760px){
}
